.query-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    
    input, select {
        width: 200px;

        &[type=submit], &[type=reset] {
            width: 100px;
        }
    }

    #queryType {
        text-transform: capitalize;
    }

    .footer {
        margin-top: 10px;
    }
}