@use "../../../../styles/variables";

.graph-container {
    margin-bottom: 10px;
    border-top: 1px dotted variables.$color;
}

.graph-container > .graph {
    height: 200px;
}

.time-tooltip {
    display: flex;
    flex-direction: column;
}

.time-tooltip .label {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
