@use "../../styles/_variables.scss";

$width: 500px;

.data-container {
    position: absolute;
    right: 0;
    top: 0;
    width: $width;
    background-color: rgba($color: variables.$background_color, $alpha: 0.75);
    transition: 0.3s;
    z-index: 2;
}

.data-container.hidden {
    right: -$width;
}


@media screen and (max-width: 500px) {
    .data-container {
        width: 100%;
    }
}
