@use "../../../../styles/_variables.scss";

.device-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .export-link {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    table.data {
        margin: 10px;
        border-collapse: collapse;
    
        th {
            text-transform: capitalize;
            border-right: 1px dotted variables.$color;
        }

        tr {
            border-bottom: 1px solid variables.$color;

            td {
                border-right: 1px dotted variables.$color;
            }

            td:last-child {
                border-right: none;
            }
        }

        thead {
            th:last-child {
                border-right: none;
            }
        }

        tbody {
            tr:last-child {
                border-bottom: none;
            }
        }
    }
}
