@use "../../../../styles/_variables.scss";

.device-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-top: 1px solid variables.$color;
    border-bottom: 1px solid variables.$color;
    display: flex;
    flex-direction: column;
}

.device-container table.data th {
    text-transform: capitalize;
}

.device-container .export-link {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}